<% data.forEach(function (data) { %>
<!doctype html>
<html lang="fr">
<%- include('front/partials/head.ejs') %>
<body class="sidebar-main-active right-column-fixed">
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <%- include('front/partials/sidebar_client.ejs') %>
    <!-- TOP Nav Bar -->
    <div class="iq-top-navbar bg-white">
        <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="iq-menu-bt d-flex align-items-center">
                    <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                        <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                    </div>
                    <div class="iq-navbar-logo d-flex justify-content-between">
                        <a href="/app" class="header-logo">
                            <span class="text-primary ml-1 text-uppercase">Itomori</span>
                        </a>
                    </div>
                </div>
                <div class="navbar-breadcrumb">
                    <h4 class="mb-0 text-dark">beta.itomori.eu</h4>
                    <p class="mb-0"><span class="text-danger">Bonjour,</span> <%- data.first_name %></p>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                </div>
                <ul class="navbar-list">
                    <li class="line-height">
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                            <img src="https://lh3.googleusercontent.com/ogw/ADea4I4-xrrSz_iHh8faCqW8RcuVonciceD4OAhlPZvF=s83-c-mo" class="img-fluid rounded-circle" alt="user">
                        </a>
                        <div class="iq-sub-dropdown iq-user-dropdown mt-2">
                            <div class="iq-card shadow-none m-0">
                                <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                        <h5 class="mb-0 text-white line-height"><%- data.first_name %> <%- data.last_name %></h5>
                                        <!--<span class="text-white font-size-12">Admin</span>-->
                                    </div>
                                    <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-file-user-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">My Profile</h6>
                                                <p class="mb-0 font-size-12">View personal profile details.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="d-inline-block w-100 text-center p-3">
                                        <a class="bg-primary iq-sign-btn" href="/app/deconnexion" role="button">Deconnexion<i class="ri-login-box-line ml-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- TOP Nav Bar END -->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <%- include(view) %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<%- include('front/partials/foot.ejs') %>
</body>
</html>
<% }) %>
