<!doctype html>
<html lang="fr">
<%- include('manager/partials/head.ejs') %>
<body class="sidebar-main-active right-column-fixed">
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <%- include('manager/partials/sidebar.ejs') %>
    <!-- TOP Nav Bar -->
    <div class="iq-top-navbar bg-white">
        <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="iq-menu-bt d-flex align-items-center">
                    <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                        <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                    </div>

                </div>
                <div class="navbar-breadcrumb">
                    <h4 class="mb-0 text-dark">Tableau de bord</h4>
                    <p class="mb-0"><span class="text-primary">Bonjour,</span> <%- session.fname %></p>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                </div>
                <ul class="navbar-list">
                    <li class="line-height">
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                            <img src="https://www.gravatar.com/avatar/f040db5cea3e5404595d9020fee3ab1a?s=1024&d=retro&r=g" class="img-fluid rounded-circle" alt="user">
                        </a>
                        <div class="iq-sub-dropdown iq-user-dropdown mt-2">
                            <div class="iq-card shadow-none m-0">
                                <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-2 pl-3">
                                        <!--<h5 class="mb-0 text-white line-height"><%- session.username %></h5>-->
                                        <span class="text-white font-size-12"><%- session.username %></span>
                                    </div>
                                    <a href="/fr/espace-client" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Mes informations</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="d-inline-block w-100 text-center p-3">
                                        <a class="bg-danger iq-sign-btn" href="/admin" role="button">Admin</a>
                                        <a class="bg-primary iq-sign-btn" href="/fr/espace-client/deconnexion" role="button">Deconnexion<i class="ri-login-box-line ml-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- TOP Nav Bar END -->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <%- include(view) %>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<%- include('manager/partials/foot.ejs') %>
</body>
</html>
